body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 ;
    padding: 0 ;
    background-color: rgb(57, 8, 8);
    color: white;
}

h1, h2 {
    text-align: center;
}

.box-shadow {
    width: 200px;
    height: 100px;
    background-color: rgb(134, 11, 11);
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}