*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: white;
}

/* =============================================Blue Header Line============================================= */

.header-bar{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 70px;
    background: linear-gradient(to right,#3a6fa1,#8fb3cf);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px;
    color: white;
}

/* Salat und Warm */

.header-text {
    font-size: 40px;
    font-weight: bold;
}


.stamp {
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #ffffff;
    color: rgb(254, 0, 0);
    border: 5px solid rgb(254, 0, 0);
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(-15deg);
    
}

/* =============================================Round Logo============================================= */

.logo-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 190px;
    height: 190px;
    background: white;
    border-radius: 50%;
    border: 10px solid #6ba1ca;
    box-shadow: 0 0 0 6px #8fb3cf inset;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-wrapper img {
    width: 90%;
    height: auto;
    object-fit: contain;
}

.logo-text{
    position: absolute;
    bottom: 55px;
    right: 10px;
    color: rgb(195, 5, 5);
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.logo-inner{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Foto */

.logo-inner img {
    width: 100%;
    height: 100%;
}

.wochengericht-item{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 600px;

}

.wochengericht-item .item-title{
    font-size: 30px;
    color: #333;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wochengericht-item .description{
    font-style: italic;
    font-size: 20px;
}

.item-price{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.sub-header{
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 70px;
    background: linear-gradient(to right,#3a6fa1,#8fb3cf);
    color: white;
}

.sub-header-text {
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
}


.content-wechselnd-all {
    margin-top: 30px;
}

.content-wechselnd {
    font-size: 28px;
    display: flex;
    border-bottom: dotted 2px #000000;
    margin: 30px 45px;
}

.tag {
    width: 300px;
    height: auto;
}

.dish {
    font-style: italic;
    width: 1100px;
    height: auto;
    
}


footer {
    margin-top: 100px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: gray;}

