body {
    background-color: rgb(36, 38, 189);
    margin: 0;
}

#title {
    color: #ffffff;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#untertitel {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#background {
    margin: 0;
    width: 100%;
    height: 600px;
}

.box1 {

    width: 100%;
    height: 100%;

}

.box2 {

    width: 900px;
    position: absolute;
    top: 175px;
    left: 300px;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 75px ;
    
}

.container {
    width: 100%;
}