body {
    background-color: rgb(36, 38, 189);
    margin: 0;
}

#title {
    color: #ffffff;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

#untertitel {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#background {
    margin: 0;
    width: 100%;
    height: 600px;
}

.box1 {

    width: 100%;
    height: 100%;

}

.box2 {

    width: 900px;
    position: absolute;
    top: 270px;
    left: 300px;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 100px ;
    
}

.container {
    width: 100%;
}

.container2 {
    width: 100%;
}

.box3 {
    width: 250px;
    margin: 0px auto;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 550px;
    left: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.box4 {
    width: 250px;
    margin: 0px auto 100px auto;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 550px;
    left: 625px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.box5 {
    width: 250px;
    margin: 0 auto 50px auto;
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 550px;
    left: 950px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

#footer {
    background-color: rgba(45, 45, 50, 0.819);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 685px;
    display: flex;
    justify-content: center;
    align-items: center;

}