img {
    display: block;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.col {
    display: inline-block;
    vertical-align: center;
    width: 45%;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px;
}

h2 {
    color: blue;
    font-size: 32px;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

h3 {
    font-size: 22px;
    margin-top: 30px;
}

a {
    font-size: 18px;
    margin-right: 10px;
}